---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Reviews from "../components/Reviews.astro";
import Author from "../components/Author.astro";
import BookDetails from "../components/BookDetails.astro";
import Contact from "../components/Contact.astro";
import Newsletter from "../components/Newsletter.astro";

export const prerender = true;
---

<Layout
	title="Marco Swift and the Mirror of Souls | D. E. Cunningham"
	description="Welcome to the official world of Marco Swift. Discover the middle-grade fantasy novel that explores forgiveness, truth, and love."
	image="/marcoswift.png"
>
	<Hero />

	<div class="relative z-20">
		<Reviews />
	</div>

	<div class="relative z-30">
		<Author />
	</div>

	<div class="relative z-40">
		<BookDetails />
	</div>

	<div class="relative z-50">
		<Contact />
	</div>

	<div class="relative z-60">
		<Newsletter />
	</div>
</Layout>
